<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="stylesheet" href="/public/styles/forgot.css">
    <script src="/public/scripts/forgot.js"></script>
    <title>Forgot password | HOWA - Course Register</title>
</head>
<header class="header" id="top">
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card header">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="/views/index.ejs" class="w3-bar-item w3-button w3-padding-large"><b>HOWA</b></a>
            <span class="w3-right">

                <a href="/views/index.ejs" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Home</a>
                <a href="/views/courses/index.ejs" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Courses</a>
                <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About</a>
                <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
                <a href="/views/auth/login.ejs" class="w3-bar-item w3-button w3-padding-large w3-hide-small"
                    style="background-color: white; color: black;">Login</a>
            </span>
        </div>
    </div>

    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="/views/index.ejs" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Home</a>
        <a href="/views/courses/index.ejs" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Couses</a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
        <a href="/views/auth/login.ejs" class="w3-bar-item w3-button w3-padding-large"
            style="background-color: white; color: black;" onclick="myFunction()">Login</a>
    </div>
</header>

<body>
    <div class="forgot-center">
        <h1>Forgot password</h1>
        <form method="post" onclick="validForgot()">
            <div class="email-field" style="margin-top: 60px;">
                <input type="email" required="">
                <span></span>
                <label>Email</label>
            </div>
            <div class="text-field" style="border-bottom: none; margin-top: 50px;">
                <button onclick="validForgot()">Submit</button>
            </div>
            <div class="login-url">Back to <a href=login.ejs>Login</a></div>
        </form>
    </div>
</body>

</html>