<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/images/logo-hez.png" type="image/x-icon">
    <script src="/scripts/login.js"></script>
    <script>
        function validLogin(event) {
            event.preventDefault(); // Prevent form submission

            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;

            if (email && password) {
                fetch('/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        email: email,
                        password: password
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.result === 1) {
                        sessionStorage.setItem('ssIdUser', data.valReturn)
                        window.location.href = '/index.html';
                    } else {
                        const errorMessage = document.getElementById('error-message');
                        errorMessage.textContent = 'Đăng nhập thất bại: ' + data.err;
                    }
                })
                .catch(error => {
                    console.log('Lỗi đăng nhập: ' + error);
                });
            } else {
                console.log('Thông tin đăng nhập không hợp lệ');
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <title>Login | HOWA - Course Register</title>
</head>
<%- include("../partials/header") %>
<body>
    <section style="margin-top: 7%; ">
        <div class="card" style="height: max-content; margin: auto;">
            <h1>Login</h1>
            <form method="post" onsubmit="validLogin(event)">
                <div class="text-field">
                    <input type="email" required="" name="email" id="email" placeholder="Please enter your registerd email">
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="text-field">
                    <input type="password" required="" name="password" id="password" placeholder="Please enter your password">
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="forgot-pass"><a href="forgot.html">Forgot password?</a></div>
                <div class="text-field" style="border-bottom: none;">
                    <button id="btnLogin" type="submit">Login</button>
                </div>
                <div class="sign-up-url">Not a member? <a href="signup.html">Sign up</a></div>
            </form>
            <div id="error-message"></div>
        </div>
    </section>
    <%- include("../partials/footer") %>
</body>

</html>