<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/signup.css">
    <link rel="icon" href="/images/logo-hez.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/scripts/web3.js"></script>
    <script src="/scripts/signup.js"></script>
    <title>Sign up | HOWA - Course Register</title>
</head>
<%- include("../partials/header") %>

<body>
    <section style="margin-top: 6%; ">
        <div class="card" style="height: max-content; width: 33%; margin: auto;">
        <h1>Sign up</h1>
        <form method="post" action="/auth/signup">
            <div class="text-field">
                <input id="email" type="email" required="" name="email" placeholder="Please enter unregistered email">
                <span></span>
                <label>Email</label>
            </div>
            <div class="text-field">
                <input type="text" required="" name="name" id="name" placeholder="Please enter your fullname">
                <span></span>
                <label>Fullname</label>
            </div>
            <div class="text-field date">
                <label>Date of birth</label>
                <input type="date" required="" max="" name="dob" id="dob" style="padding-left: 150px;">
                <span></span>
            </div>
            <div class="text-field">
                <input type="text" required="" name="phone" id="phone" pattern="(0[3|5|7|8|9])+([0-9]{8})\b"
                title="Please enter a valid phone number!" placeholder="Please enter your unregistered phone number">
                <span></span>   
                <label>Phone number</label>
            </div>
            <div class="text-field">
                <input id="password" type="password" required="" name="password" placeholder="Please enter your password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
                title="
                • At least 8 characters - the more characters, the better
                • A mixture of both uppercase and lowercase letters
                • A mixture of letters and numbers
                • (Optional) Add at least one special character, e.g., ! @ # ? ]">
                <span></span>
                <label>Password</label>
            </div>
            <div class="text-field" style="border-bottom: none;">
                <button id="btnSignup" type="submit">Sign up</button>
            </div>
            <div class="login-url">Already have an account? <a href=login.html>Login</a></div>
        </form>
        <label style="margin-bottom: 30px;">* By clicking the <b>"Sign up"</b> button, you are creating an account, and agree to HOWA's <a href="/terms" target="_blank" style="color: #2691d9;"><b>Terms of Service</b></a>.</label>
    </div>
    </section>
    <%- include("../partials/footer") %>
</body>

</html>