<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/signup.css">
    <title>Sign up | HOWA - Course Register</title>
</head>
<header class="header" id="top">
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card header">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="#top" class="w3-bar-item w3-button w3-padding-large " >HOWA</a>
          <span class="w3-right">

          <a href="/views/index.ejs" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Home</a>
          <a href="#courses" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Courses</a>
          <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About</a>
          <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
          <a href="/views/auth/login.ejs" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</a>
        </span>
        </div>
      </div>

      <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="/views/index.ejs" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Home</a>
        <a href="#courses" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Couses</a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
        <a href="/views/auth/login.ejs" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Login</a>
      </div>
</header>
<body>
    <div class="signup-center">
        <h1>Sign up</h1>
        <form method="post">
            <div class="text-field">
                <input type="text" required="">
                <span></span>
                <label>Email</label>
            </div>
            <div class="text-field">
                <input type="text" required="">
                <span></span>
                <label>Fullname</label>
            </div>
            <div class="text-field">
                <input type="text" required="">
                <span></span>
                <label>Username</label>
            </div>
            <div class="text-field">
                <input type="password" required="">
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Sign up">
            <div class="login-url">Already have an account? <a href="/views/auth/login.ejs">Login</a></div>
        </form>
    </div>
</body>
</html>