<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/edit-password.css">
  <link rel="icon" href="/images/logo-hez.png" type="image/x-icon">
  <script src="/scripts/edit-password.js"></script>
  <script>
    const ssIdUser = sessionStorage.getItem('ssIdUser')
    function validEdit_password(event) {
            event.preventDefault(); // Prevent form submission

            var currentpassword = document.getElementById('currentpassword').value;
            var newpassword = document.getElementById('newpassword').value;
            var renewpassword = document.getElementById('renewpassword').value;

            if (currentpassword && newpassword && renewpassword) {
                fetch(`/account/edit-password/${ssIdUser}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        currentpassword: currentpassword,
                        newpassword: newpassword,
                        renewpassword: renewpassword,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.result === 1) {
                        alert(data.err)
                        window.location.href = '/account/profile.html';
                    } else {
                        console.log("fail")
                        const errorMessage = document.getElementById('error-message');
                        errorMessage.textContent = 'Đăng nhập thất bại: ' + data.err;
                    }
                })
                .catch(error => {
                    console.log('Lỗi đăng nhập: ' + error);
                });
            } else {
                console.log('Thông tin đăng nhập không hợp lệ');
            }
        }
  </script>
  <title>Edit password | HOWA</title>
</head>
<%- include("../partials/header") %>

<body>
  <section style="margin-top: 100px;">
    <div class="card" style="height: auto; display: block; margin: auto;">
      <div id="main" style="margin: auto;">
        <h1 class="w3-center" style="margin-bottom: 10%;">Change password</h1>
        <form method="post" id="myForm" onsubmit="validEdit_password(event)">
          <div class="text-field">
            <input type="password" required="" name="currentpassword" id="currentpassword" placeholder="Enter your current password">
            <span></span>
            <label>Current password</label>
          </div>
          <div class="text-field">
            <input type="password" required="" name="newpassword" id="newpassword" placeholder="Enter your new password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
            title="
            • At least 8 characters - the more characters, the better
            • A mixture of both uppercase and lowercase letters
            • A mixture of letters and numbers
            • (Optional) Add at least one special character, e.g., ! @ # ? ]">
            <span></span>
            <label>New password</label>
          </div>
          <div class="text-field">
            <input type="password" required="" name="renewpassword" id="renewpassword" placeholder="Enter your new password again">
            <span></span>
            <label>Re-enter new password</label>
          </div>
          <div class="group-button w3-center" style="border-bottom: none;">
            <button class="btn btn-save" type="submit">Change password</button>
            <a href="#">
              <button class="btn btn-cancel" type="button" style="margin-left: 5%;">Cancel</button></a>
          </div>
          <div id="error-message"></div>
        </form>
      </div>
    </div>
    </div>
  </section>
  <div class="w3-center contact" id="contact" style="color: white;">
    <div class=" w3-left-align w3-margin-top contact-info ">
      <h3 style="font-weight: 800;" class="contact-head">GET IN TOUCH</h3>
      <h4 style="font-weight: 600;">Your styles at low cost
      </h4>
      <p>We care about our customers<br>you can contact us for any feedback</p>
      <h4 style="font-weight: 600;">Follow Us </h4>

      <i class="fa fa-facebook-official w3-hover-opacity icons"></i>
      <i class="fa fa-instagram w3-hover-opacity icons"></i>
      <i class="fa fa-snapchat w3-hover-opacity icons"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity icons"></i>
      <i class="fa fa-twitter w3-hover-opacity icons"></i>
      <i class="fa fa-linkedin w3-hover-opacity icons"></i>
    </div>
    <div class="w3-left-align w3-margin-top contact-info">
      <h3 style="font-weight: 600;">OPENING HOURS</h3>
      <p>Mon - Sat 7am - 9pm:</p>
      <p>Opening on Morning | Off at afternoon</p>
      <p>Delivery only on opening hours</p>
    </div>
    

  </div>
</body>

</html>