<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/edit-profile.css">
  <link rel="icon" href="/images/logo-hez.png" type="image/x-icon">
  <script src="/scripts/edit-profile.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Edit profile | HOWA</title>
</head>
<%- include("../partials/header") %>

  <body>
    <section style="margin-top: 100px;">
      <div class="card" style="height: auto; display: block; margin: auto; margin-top: 30px; width: 1200px;">
        <div id="main" style="margin: auto;">
          <div id="pitch">
            <div id="img-profile" style="float:left; margin: 5% 0;">
              <div>
                <img src="/images/IMG_8440.jpg" class="center" style="border: 5px solid #6be04e;" salt="Profile image">
                <br>
              </div>
            </div>
            <div id="detail-profile" class="detail-profile not-delayed">
            </div>
            <script>
              let input = document.querySelector(".name");
              let button = document.querySelector(".btn-save");
              button.disabled = true;
              input.addEventListener("change", stateHandle);
              console.log(input);
              function stateHandle() {
                  if(document.querySelector(".name").value === "Dinh Quoc Khiem") {
                      button.disabled = true;
                  } else {
                      button.disabled = false;
                  }
              }
              </script>
          </div>
        </div>
      </div>
      </div>
    </section>
    <div class="w3-center contact" id="contact" style="color: white;">
      <div class=" w3-left-align w3-margin-top contact-info ">
        <h3 style="font-weight: 800;" class="contact-head">GET IN TOUCH</h3>
        <h4 style="font-weight: 600;">Your styles at low cost
        </h4>
        <p>We care about our customers<br>you can contact us for any feedback</p>
        <h4 style="font-weight: 600;">Follow Us </h4>

        <i class="fa fa-facebook-official w3-hover-opacity icons"></i>
        <i class="fa fa-instagram w3-hover-opacity icons"></i>
        <i class="fa fa-snapchat w3-hover-opacity icons"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity icons"></i>
        <i class="fa fa-twitter w3-hover-opacity icons"></i>
        <i class="fa fa-linkedin w3-hover-opacity icons"></i>
      </div>
      <div class="w3-left-align w3-margin-top contact-info">
        <h3 style="font-weight: 600;">OPENING HOURS</h3>
        <p>Mon - Sat 7am - 9pm:</p>
        <p>Opening on Morning | Off at afternoon</p>
        <p>Delivery only on opening hours</p>
      </div>

    </div>
  </body>

</html>