<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/edit-password.css">
  <link rel="icon" href="/images/logo-hez.png" type="image/x-icon">
  <script src="/scripts/edit-password.js"></script>
  <title>Edit password | HOWA</title>
</head>
<header class="header" id="top">
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card header">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)"
        onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/index.html" class="w3-bar-item w3-button w3-padding-large "><b>HOWA</b></a>
      <span class="w3-right">
        <a href="/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Home</a>
        <a href="/courses/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Courses</a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
        <a href="/auth/login.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</a>
        <div class="w3-dropdown-hover w3-right w3-hide-small" style="background-color: white; color: black;">
          <button class="w3-button w3-black w3-padding-large">Account</button>
          <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
            <a href="/account/profile.html" class="w3-bar-item w3-button">Profile</a>
            <a href="/account/wallet.html" class="w3-bar-item w3-button">My wallet</a>
            <a href="/account/mycourse.html" class="w3-bar-item w3-button">My courses</a>
            <a href="/account/edit-password.html" class="w3-bar-item w3-button">Edit password</a>
            <a href="#" class="w3-bar-item w3-button">Log out</a>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="/index.html" class="w3-bar-item w3-button w3-padding-large" style="background-color: white; color: black;"
      onclick="myFunction()">Home</a>
    <a href="/courses/index.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Couses</a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
    <a href="/auth/login.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Login</a>
    <div class="w3-dropdown-hover w3-right" style="background-color: white; color: black;">
      <button class="w3-button w3-black w3-padding-large">My Account</button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        <a href="/account/profile.html" class="w3-bar-item w3-button">Profile</a>
        <a href="/account/wallet.html" class="w3-bar-item w3-button">My wallet</a>
        <a href="/account/mycourse.html" class="w3-bar-item w3-button">My courses</a>
        <a href="/account/edit-password.html" class="w3-bar-item w3-button">Edit password</a>
        <a href="#" class="w3-bar-item w3-button">Log out</a>
      </div>
    </div>
  </div>
</header>

<body>
  <section style="margin-top: 100px;">
    <div class="card" style="height: auto; display: block; margin: auto;">
      <div id="main" style="margin: auto;">
        <h1 class="w3-center" style="margin-bottom: 10%;">Change password</h1>
        <form method="post" onsubmit="">
          <div class="text-field">
            <input type="password" required="" name="currentpassword" id="currentpassword" placeholder="Enter your current password">
            <span></span>
            <label>Current password</label>
          </div>
          <div class="text-field">
            <input type="password" required="" name="newpassword" id="newpassword" placeholder="Enter your new password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
            title="
            • At least 8 characters - the more characters, the better
            • A mixture of both uppercase and lowercase letters
            • A mixture of letters and numbers
            • (Optional) Add at least one special character, e.g., ! @ # ? ]">
            <span></span>
            <label>New password</label>
          </div>
          <div class="text-field">
            <input type="password" required="" name="renewpassword" id="renewpassword" placeholder="Enter your new password again">
            <span></span>
            <label>Re-enter new password</label>
          </div>
          <div class="group-button w3-center" style="border-bottom: none;">
            <button class="btn btn-save" onclick="validChangepassword()">Change password</button>
            <a href="/account/profile/<%= user._id %>">
              <button class="btn btn-cancel" type="button" style="margin-left: 5%;">Cancel</button></a>
          </div>
        </form>
      </div>
    </div>
    </div>
  </section>
  <div class="w3-center contact" id="contact" style="color: white;">
    <div class=" w3-left-align w3-margin-top contact-info ">
      <h3 style="font-weight: 800;" class="contact-head">GET IN TOUCH</h3>
      <h4 style="font-weight: 600;">Your styles at low cost
      </h4>
      <p>We care about our customers<br>you can contact us for any feedback</p>
      <h4 style="font-weight: 600;">Follow Us </h4>

      <i class="fa fa-facebook-official w3-hover-opacity icons"></i>
      <i class="fa fa-instagram w3-hover-opacity icons"></i>
      <i class="fa fa-snapchat w3-hover-opacity icons"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity icons"></i>
      <i class="fa fa-twitter w3-hover-opacity icons"></i>
      <i class="fa fa-linkedin w3-hover-opacity icons"></i>
    </div>
    <div class="w3-left-align w3-margin-top contact-info">
      <h3 style="font-weight: 600;">OPENING HOURS</h3>
      <p>Mon - Sat 7am - 9pm:</p>
      <p>Opening on Morning | Off at afternoon</p>
      <p>Delivery only on opening hours</p>
    </div>

  </div>
</body>

</html>