<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/my-courses.css">
    <link rel="icon" href="/images/logo-hez.png" type="image/x-icon">
    <title>Course Categories | HOWA</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/scripts/mycourse.js"></script>
    <script>
        var ssIdUser = sessionStorage.getItem('ssIdUser')
        fetch(`/api/account/mycourse/` + ssIdUser)
            .then(response => response.json())
            .then(data => {
                // Nhận kết quả từ server
                const getOrders = data.getOrders;
                const id = data.id;

                // Xử lý dữ liệu nhận được
                console.log('Orders:', getOrders);
                console.log('ID:', id);

                // Fix link image
                for (let i = 0; i < getOrders.length; i++) {
                    const order = getOrders[i];

                    $("#tblist").append(`
                    <div class="category-course-card">
                        <a href="/courses/detail/${order._id}" style="text-decoration: none;">
                            <div class="course-image">
                                <img src="/images/python-prog.jpg" alt="Python Programming Language Course" />
                                <div class="course-short-details">
                                    <p class="cate-name">${order.categories_id}</p>
                                    <h4 style="text-overflow:ellipsis; overflow: hidden; font-weight: bold; line-height: normal;">
                                        ${order.name}
                                    </h4>
                                    <p class="w3-small">${order.lectures_id}</p>
                                    <div class="price-course">
                                        <span class="new-price">${order.price.toLocaleString('en-US')} ETH</span>
                                    </div>
                                    <p class="duration">${changeDate(order.start_date)} - ${changeDate(order.end_date)}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                `)
                }

            })
            .catch(error => {
                // Xử lý lỗi nếu có
                console.error('Lỗi:', error);
            });

    </script>

</head>
<%- include("../partials/header") %>

<body>
    <div style="margin-top: 70px;">
        <div class="w3-container" style="margin: 15px 15%;">
            <h2 class="section-text-header">My Courses</h2>
        </div>
    </div>
    <main class="category" style="min-height: max-content;">
        <div class="wrapper">
            <section class="course .center">
                <div class="mg-10">
                    <div id="tblist"></div>
                </div>
            </section>

        </div>
    </main>
    <div class="w3-center contact" id="contact" style="color: white;">
        <div class=" w3-left-align w3-margin-top contact-info ">
            <h3 style="font-weight: 800;" class="contact-head">GET IN TOUCH</h3>
            <h4 style="font-weight: 600;">Your styles at low cost
            </h4>
            <p>We care about our customers<br>you can contact us for any feedback</p>
            <h4 style="font-weight: 600;">Follow Us </h4>

            <i class="fa fa-facebook-official w3-hover-opacity icons"></i>
            <i class="fa fa-instagram w3-hover-opacity icons"></i>
            <i class="fa fa-snapchat w3-hover-opacity icons"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity icons"></i>
            <i class="fa fa-twitter w3-hover-opacity icons"></i>
            <i class="fa fa-linkedin w3-hover-opacity icons"></i>
        </div>
        <div class="w3-left-align w3-margin-top contact-info">
            <h3 style="font-weight: 600;">OPENING HOURS</h3>
            <p>Mon - Sat 7am - 9pm:</p>
            <p>Opening on Morning | Off at afternoon</p>
            <p>Delivery only on opening hours</p>
        </div>
    </div>
</body>

</html>