<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/profile.css">
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="/scripts/profile.js"></script>
  <script>
    var ssIdUser = sessionStorage.getItem('ssIdUser')
    console.log(ssIdUser)
    fetch('/api/account/profile/' + ssIdUser)
    .then(response => response.json())
    .then(data => {
      // Nhận dữ liệu userCurrent từ server
      const userCurrent = data.userCurrent;
      $("#main").append(`
      <div id="pitch">
        <div id="img-profile" style="float:left; margin: 5% 0;">
          <div>
            <img src="${userCurrent.image}" class="img-center" salt="${userCurrent.name}">
            <br>
          </div>
        </div>
      </div>
      <div id="detail-profile" class="detail-profile not-delayed">
          <label for="fname"><i class="fa fa-user"></i>&ensp;Full Name</label>
          <input type="text" id="fname" name="firstname" value="${userCurrent.name}" readonly>
          <label for="email"><i class="fa fa-envelope"></i>&ensp;Email</label>
          <input type="text" id="email" name="email" value="${userCurrent.email}" readonly>
          <label for="dob"><i class="fa fa-birthday-cake"></i>&ensp;Date of birth</label>
          <input type="text" id="dob" name="dob" value="${formatDate(userCurrent.dob)}" readonly>
          <label for="adr"><i class="fa fa-address-card-o"></i>&ensp;Address</label>
          <input type="text" id="adr" name="address" value="${userCurrent.address}" readonly>
          <label for="phone"><i class="fa fa-phone"></i>&ensp;Phone</label>
          <input type="text" id="phone" name="phone" value="${userCurrent.phone}" readonly>
          <div class="group-button w3-center" style="margin: 5% 0;">
            <a href="/account/edit-profile.html"><button class="btn btn-edit" type="button">Edit Profile</button></a>
            <a href="/account/edit-password.html"><button class="btn btn-change-pass" type="button"
                style="margin-left: 5%;">Change password</button></a>
          </div>
        </div>
        `)
      // Tiếp tục xử lý dữ liệu tại đây
    })
    .catch(error => {
      console.error('Lỗi khi gọi API: ', error);
      // Xử lý lỗi tại đây
    });
  </script>
  <link rel="icon" href="/images/logo-hez.png" type="image/x-icon">
  <title>Profile | HOWA</title>
</head>
<%- include("../partials/header") %>

<body>
  <section style="margin-top: 100px;">
    <div class="card" style="height: auto; display: block; margin: auto; margin-top: 30px; width: 1200px;">
      <div id="main" style="margin: auto;">
      </div>
    </div>
  </section>
  <%- include("../partials/footer") %>
</body>

</html>