<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/style.css">

<!-- header.html -->
<header class="header" id="top">
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card header">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)"
        onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/index.html" class="w3-bar-item w3-button w3-padding-large "><b>HOWA</b></a>
      <span class="w3-right">
        <a href="/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Home</a>
        <a href="/courses/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Courses</a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
        <a href="/auth/login.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</a>
        <div class="w3-dropdown-hover w3-right w3-hide-small" style="background-color: white; color: black;">
          <button class="w3-button w3-black w3-padding-large">Account</button>
          <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
            <a href="/account/profile.html" class="w3-bar-item w3-button">Profile</a>
            <a href="/account/wallet.html" class="w3-bar-item w3-button">My wallet</a>
            <a href="/account/mycourse.html" class="w3-bar-item w3-button">My courses</a>
            <a href="/account/edit-password.html" class="w3-bar-item w3-button">Edit password</a>
            <a href="#" class="w3-bar-item w3-button" id="btnLogout">Log out</a>
            <script>
              document.getElementById('btnLogout').addEventListener('click', function(event) {
                event.preventDefault()
                sessionStorage.removeItem('ssIdUser')
                window.location.href = '/auth/login.html'
              })
            </script>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="/index.html" class="w3-bar-item w3-button w3-padding-large" style="background-color: white; color: black;"
      onclick="myFunction()">Home</a>
    <a href="/courses/index.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Couses</a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
    <a href="/auth/login.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Login</a>
    <div class="w3-dropdown-hover w3-right" style="background-color: white; color: black;">
      <button class="w3-button w3-black w3-padding-large">My Account</button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        <a href="/account/profile.html" class="w3-bar-item w3-button">Profile</a>
        <a href="/account/wallet.html" class="w3-bar-item w3-button">My wallet</a>
        <a href="/account/mycourse.html" class="w3-bar-item w3-button">My courses</a>
        <a href="/account/edit-password.html" class="w3-bar-item w3-button">Edit password</a>
        <a href="#" class="w3-bar-item w3-button">Log out</a>
      </div>
    </div>
  </div>
</header>
