<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/course-detail.css">
  <title>Basic Python - Courses | HOWA - Course Register</title>
</head>
<header class="header" id="top">
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card header">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
        href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/index.html" class="w3-bar-item w3-button w3-padding-large "><b>HOWA</b></a>
      <span class="w3-right">
        <a href="/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          style="background-color: white; color: black;">Home</a>
        <a href="/courses/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Courses</a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
        <a href="/auth/login.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</a>
        <div class="w3-dropdown-hover w3-right w3-hide-small">
          <button class="w3-button w3-black w3-padding-large">Account</button>
          <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
            <a href="/account/profile.html" class="w3-bar-item w3-button">Profile</a>
            <a href="#" class="w3-bar-item w3-button">My courses</a>
            <a href="#" class="w3-bar-item w3-button">Edit password</a>
            <a href="#" class="w3-bar-item w3-button">Log out</a>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="/index.html" class="w3-bar-item w3-button w3-padding-large"
      style="background-color: white; color: black;" onclick="myFunction()">Home</a>
    <a href="/courses/index.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Couses</a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
    <a href="/auth/login.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Login</a>
    <div class="w3-dropdown-hover w3-right">
      <button class="w3-button w3-black w3-padding-large">My Account</button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        <a href="/account/profile.html" class="w3-bar-item w3-button">Profile</a>
        <a href="#" class="w3-bar-item w3-button">My courses</a>
        <a href="#" class="w3-bar-item w3-button">Edit password</a>
        <a href="#" class="w3-bar-item w3-button">Log out</a>
      </div>
    </div>
  </div>
</header>

<body>
  <section style="margin-top: 70px;">
    <div class="breadcrumb" style="padding-left: 20%;">
      <a href="/index.html" style="color:black;">Home</a>
      >
      <a href="/courses/index.html" style="color: black;">Courses</a>
      >
      <a style="text-decoration: none;">Basic Python</a>
    </div>
    <div class="card" style="height: auto; display: block; margin: auto; margin-top: 30px; width: 1200px;">
      <div id="main" style="margin: auto;">
        <div id="pitch">
          <div id="logo-course" style="float:left; margin-right: 10px; margin-bottom: 15px;">
            <div>
              <img src="/images/python-programming-language.png"
                style="margin-top: 6px;margin-right: 10px;width: 200px;height: 200px;" alt="Basic Python">
              <br>
            </div>
          </div>
          <div id="detail-course" class="not-delayed">
            <h2 id="title" style="margin-bottom: 20px;"><b>Basic Python</b></h2>
            <p style="margin-bottom: 5px;">Category:&nbsp;
              <a href="" style="color: rgb(31, 128, 192)">Python</a>
            </p>
            <p style="margin-bottom: 5px;">
              Lecturer:&nbsp;
              <a href="" style="color: rgb(31, 128, 192)">Nguyen Duy Tan</a>
            <p style="margin-bottom: 5px">
              Duration:&ensp;17/03/2023 - 17/04/2023 (20:00 ~ 22:00 every Sunday)
            </p>
            <div style="margin-top: 15px; margin-bottom: 15px;">
              <span style="color: rgb(255, 0, 0); font-size: 30px;"><b>1.000.000 VND&nbsp;</b></span>
              <span style="color: rgb(128, 128, 137); text-decoration: line-through;">1.200.000 VND</span>
              <span style="color: rgb(255, 0, 0);">&nbsp;-17%</span>
            </div>
            <div class="group-button" style="margin-bottom: 30px;">
              <button class="btn btn-buy-now" type="button">Buy now</button>
              <button class="btn btn-add-to-cart" type="button" style="margin-left: 20px;">Add to cart</button>
            </div>
          </div>
          <div class="course-description" style="border-top: 1px solid #a8acc0;">
            <p style="font-size: 20px; color: blueviolet; margin-top: 30px; margin-bottom: 15px;"><b>Description</b></p>
            昨今デジタルを活用した施策にシフトし、マーケティングでリードを獲得し、インサイドセールスでフォローする取り組みを進める企業が増えてきています。コニカミノルタは早い時期から取り組んでおり、その中で多くの失敗を経て、成功体験につながっております。また、その経験からお客様のご支援を行っております。本コラムでは実際に体験したこと、お客様からご相談頂くお困りごとに対してコニカミノルタではどのように対応してきたかをご紹介させて頂きます。
            <br><br>
            インサイドセールスは組織を立ち上げればいいわけではなく、社内連携や目的を見失わずに進めていくことが重要です。これから取り組む方も既に取り組んでいる方にも参考にして頂けるよう５つのポイントを解説していきます。
            インサイドセールスの活動は「未来の顧客」に対して友好的な関係を築くために、電話を通してヒアリングを行い、顧客に有益な情報を提供し続けることになります。そのため、見込み顧客として温め続け、信頼関係が築かれた状態で商談を営業にパスしていきます。
            <br><br>
            テレアポはあくまでアポイント取得を目的としており、短い期間でいかにアポイントを量産できるかという形で活動しています。
            <br>
            そのため、インサイドセールスは中長期的に顧客とコミュニケーションを取ることを前提としており、アポイントの数ではなく質を重視し活動します。
          </div>
        </div>

      </div>
    </div>
  </section>
  <div class="w3-center contact" id="contact" style="color: white;">
    <div class=" w3-left-align w3-margin-top contact-info ">
      <h3 style="font-weight: 800;" class="contact-head">GET IN TOUCH</h3>
      <h4 style="font-weight: 600;">Your styles at low cost
      </h4>
      <p>We care about our customers<br>you can contact us for any feedback</p>
      <h4 style="font-weight: 600;">Follow Us </h4>

      <i class="fa fa-facebook-official w3-hover-opacity icons"></i>
      <i class="fa fa-instagram w3-hover-opacity icons"></i>
      <i class="fa fa-snapchat w3-hover-opacity icons"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity icons"></i>
      <i class="fa fa-twitter w3-hover-opacity icons"></i>
      <i class="fa fa-linkedin w3-hover-opacity icons"></i>
    </div>
    <div class="w3-left-align w3-margin-top contact-info">
      <h3 style="font-weight: 600;">OPENING HOURS</h3>
      <p>Mon - Sat 7am - 9pm:</p>
      <p>Opening on Morning | Off at afternoon</p>
      <p>Delivery only on opening hours</p>
    </div>

  </div>
</body>

</html>