<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:3000/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/course-create.css">
    <!-- <script src="/scripts/create.js" async=""></script> -->
    <title>Create a Course | HOWA - Course Register</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/scripts/web3.js"></script>
    <script src="/process.js"></script>
    <script src="/scripts/create.js"></script>
</head>
<header class="header" id="top">
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card header">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="/index.html" class="w3-bar-item w3-button w3-padding-large "><b>HOWA</b></a>
            <span class="w3-right">

                <a href="/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Home</a>
                <a href="/courses/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small"
                    style="background-color: white; color: black;">Courses</a>
                <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About</a>
                <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
                <a href="/auth/login.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</a>
                <div class="w3-dropdown-hover w3-right w3-hide-small">
                    <button class="w3-button w3-black w3-padding-large">Account</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
                        <a href="/account/profile.html" class="w3-bar-item w3-button">Profile</a>
                        <a href="/account/wallet.html" class="w3-bar-item w3-button">My wallet</a>
                        <a href="/account/mycourse.html" class="w3-bar-item w3-button">My courses</a>
                        <a href="/account/edit-password.html" class="w3-bar-item w3-button">Edit password</a>
                        <a href="#" class="w3-bar-item w3-button">Log out</a>
                    </div>
                </div>
            </span>
        </div>
    </div>

    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="/index.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Home</a>
        <a href="/courses/index.html" class="w3-bar-item w3-button w3-padding-large"
            style="background-color: white; color: black;" onclick="myFunction()">Couses</a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
        <a href="/auth/login.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Login</a>
        <div class="w3-dropdown-hover w3-right">
            <button class="w3-button w3-black w3-padding-large">My Account</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a href="/account/profile.html" class="w3-bar-item w3-button">Profile</a>
                <a href="/account/wallet.html" class="w3-bar-item w3-button">My wallet</a>
                <a href="/account/mycourse.html" class="w3-bar-item w3-button">My courses</a>
                <a href="/account/edit-password.html" class="w3-bar-item w3-button">Edit password</a>
                <a href="#" class="w3-bar-item w3-button">Log out</a>
            </div>
        </div>
    </div>
</header>

<body>
    <main class="category" style="min-height: max-content;">
        <div class="course-form" style="margin-top: 70px;">
            <div class="course-center">
                <h1>Create a Course</h1>
                
                <form method="post">
                    <div class="btn-connect-wallet">
                        <button id="btnConnectMM">Connect Metamask wallet</button>
                        <p id="successConnectMM" style="margin-top: 10px; color: red;"></p>
                    </div>
                    <div class="text-field">
                        <input id="create-course-name" type="text" name="course-name" required="">
                        <span></span>
                        <label>Course name</label>
                    </div>
                    <div class="text-field">
                        <span></span>
                        <label id="dropdown-container">Category</label>
                        <!-- Cho nay can fix lai design -->
                        <select id="create-category" name="category"
                            style="padding: 10px 200px; background-color: #fff; width:100%; border: none;">
                            <option value="foreignlanguage">Foreign Language</option>
                            <option value="programming">Programming</option>
                            <option value="design">Design</option>
                            <option value="music">Music</option>
                            <option value="videoediting">Video Editing</option>
                            <option value="photography">Photography</option>
                            <option value="others">Others</option>
                        </select>
                        <!-- <script>
                            const categoryList = require("../../models/category");
                            var dropdownHTML = '<select>';
                            for (var i = 0; i < categoryList.length; i++) {
                                var name = categoryList[i].name;
                                var code = categoryList[i].code;
                                dropdownHTML += '<option value="' + code + '">' + name + '</option>';
                            }
                            dropdownHTML += '</select>';
                            //Load the dynamically created dropdown in container
                            var container = document.getElementById("dropdown-container");
                            container.innerHTML = dropdownHTML;
                        </script> -->
                    </div>
                    <div class="text-field">
                        <input id="create-lecturer" type="text" name="lecture" required="">
                        <span></span>
                        <label>Lecturer</label>
                    </div>
                    <div class="text-field">
                        <input id="create-description" type="text" name="description" required="">
                        <span></span>
                        <label>Description</label>
                    </div>
                    <div class="text-field">
                        <input id="create-tuition-fee" type="number" required="" name="fee">
                        <span></span>
                        <label>Tuition fee (ETH)</label>
                    </div>
                    <div class="text-field">
                        <input id="create-max-student" type="number" required="" name="quantity" min="1">
                        <span></span>
                        <label>Max students</label>
                    </div>
                    <div class="text-field">
                        <input id="create-days-of-course" type="number" required="" name="quantity" min="1">
                        <span></span>
                        <label>Days of course</label>
                    </div>
                    <div class="text-field date">
                        <label>Course start time</label>
                        <input id="create-time-start" type="datetime-local" required="" name="coursestartdate"
                            id="coursestartdate" value="<?= date('Y-m-d') ?>" min="today" max="2030-12-31"
                            style="padding-left: 200px;">
                        <span></span>
                    </div>
                    <div class="text-field date">
                        <label>Course end time</label>
                        <input id="create-time-end" type="datetime-local" required="" name="courseenddate"
                            value="<?= date('Y-m-d') ?>" max="2030-12-31" style="padding-left: 200px;">
                        <span></span>
                    </div>
                    <div class="text-field date">
                        <label>Registration closing time</label>
                        <input id="create-time-register" type="datetime-local" required="" name="registenddate"
                            value="<?= date('Y-m-d') ?>" max="2030-12-31" style="padding-left: 200px;">
                        <span></span>
                    </div>
                    <div class="text-field select">
                        <label>Select course's picture:</label>
                        <input id="create-select-picture" type="file" required="none" name="img"
                            style="padding-left: 200px; padding-top: 10px;" accept="image/*">
                        <span></span>
                    </div>
                    <div class="text-field" style="border-bottom: none;">
                        <button id="btn-create" type="submit" onclick="loaderIcon()">Create</button>
                        <div class="loader w3-center">
                            <div class="loading w3-center"></div>
                            <p style="margin-top: 10px; padding: auto;">Loading...</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div class="w3-center contact" id="contact" style="color: white;">
        <div class=" w3-left-align w3-margin-top contact-info ">
            <h3 style="font-weight: 800;" class="contact-head">GET IN TOUCH</h3>
            <h4 style="font-weight: 600;">Your styles at low cost
            </h4>
            <p>We care about our customers<br>you can contact us for any feedback</p>
            <h4 style="font-weight: 600;">Follow Us </h4>

            <i class="fa fa-facebook-official w3-hover-opacity icons"></i>
            <i class="fa fa-instagram w3-hover-opacity icons"></i>
            <i class="fa fa-snapchat w3-hover-opacity icons"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity icons"></i>
            <i class="fa fa-twitter w3-hover-opacity icons"></i>
            <i class="fa fa-linkedin w3-hover-opacity icons"></i>
        </div>
        <div class="w3-left-align w3-margin-top contact-info">
            <h3 style="font-weight: 600;">OPENING HOURS</h3>
            <p>Mon - Sat 7am - 9pm:</p>
            <p>Opening on Morning | Off at afternoon</p>
            <p>Delivery only on opening hours</p>
        </div>

    </div>
</body>

</html>