<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="icon" href="images/logo-hez.png" type="image/x-icon">
  <title>HOWA - Course Register</title>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="/scripts/home.js"></script>
  <script>
    fetch(`/api/courses/index`)
      .then(response => response.json())
      .then(data => {
        // Nhận kết quả từ server
        const getCourseAll = data.coursesAll

        // Sắp xếp danh sách theo course.start_date giảm dần
        getCourseAll.sort((a, b) => new Date(b.start_date) - new Date(a.start_date));

        // Fix link image
        for (let i = 0; i < 8; i++) {
          const course = getCourseAll[i];

          $("#new-courses").append(`
            <div class="category-course-card">
                <a href="/courses/detail/${course._id}" style="text-decoration: none;">
                    <div class="course-image">
                        <img src="${course.image}" alt="${course.name}" max-height=300 />
                      </div>
                      <div class="course-short-details">
                            <p class="cate-name">${course.categories_id}</p>
                            <h4 style="text-overflow:ellipsis; overflow: hidden; font-weight: bold; line-height: normal;">
                                ${course.name}
                            </h4>
                            <p class="w3-small">${course.lectures_id}</p>
                            <div class="price-course">
                                <span class="new-price">${course.price.toLocaleString('en-US')} ETH</span>
                            </div>
                            <p class="duration">${changeDate(course.start_date)} - ${changeDate(course.end_date)}</p>
                    </div>
                </a>
            </div>
        `)
        }

      })
      .catch(error => {
        // Xử lý lỗi nếu có
        console.error('Lỗi:', error);
      });
  </script>
</head>
<%- include("partials/header") %>
<body>  
  <main>
    <div class="hero-section w3-animate-left " id="home">
      <div class="hero-section-main">
        <div class="hero-section-into-text w3-margin-top">
          <h1 class="w3-text-white">HOWA</h1>
          <p class="w3-right w3-text-white w3-small w3-hide-small hero-qoute ">
            Howa là một trang web đăng ký khoá học trực tuyến tiên tiến, cho phép bạn trải nghiệm học tập linh hoạt và tiện lợi.
            <br>Với việc tích hợp công nghệ blockchain, Howa cung cấp phương thức thanh toán an toàn và minh bạch thông qua smart contract Ethereum.
            <br>Hãy khám phá ngay để tận hưởng trải nghiệm học tập mới mẻ trên Howa!
          </p>
          <div class="w3-text-white l " style="margin-top:60px">
            <p>Follow us on Social media</p>
            <div class="w3-margin-top">
              <a href="#"> <i class="fa fa-facebook-official w3-hover-opacity icons"></i></a>
              <a href="#"><i class="fa fa-instagram w3-hover-opacity icons"></i></a>
              <a href="#"><i class="fa fa-snapchat w3-hover-opacity icons"></i></a>
              <a href="#"><i class="fa fa-pinterest-p w3-hover-opacity icons"></i></a>
              <a href="#"><i class="fa fa-twitter w3-hover-opacity icons"></i></a>
              <a href="#"><i class="fa fa-linkedin w3-hover-opacity icons"></i></a>
            </div>
          </div>
          <a href="#new-courses-h2" class="">
            <button class="w3-text-white w3-small w3-round w3-red w3-btn w3-margin-top">New Courses
            </button>
          </a>
        </div>
      </div>
    </div>
    </div>
  </main>
  <section>
    <div class="courses" id="courses">
      <div>
        <div class="w3-container" id="new-courses-h2">
          <h2 class="section-text-header">New Courses</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="course .center">
    <div class="mg-10">
      <div id="tblistCourse"></div>
    </div>
  </section>
  <div class="new-courses" id="new-courses">
  </div>
  
  <%- include("partials/footer") %>
</body>

</html>