<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Project Blockchain</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="./scripts/web3.js"></script>
    <script src="./process.js"></script>
</head>
<body>
    <h1>Dang ki khoa hoc cho mentor</h1>
    <div id="form">
        <input id="txtName" type="text" placeholder="Name Course">
        <input id="txtNumberDay" type="text" placeholder="Number Day">
        <input id="txtEndTimeRegister" type="text" placeholder="End Time Register">
        <input type="text" id="txtEndTimeCourse" placeholder="End Time Course">
        <input type="text" id="txtPrice" placeholder="Price Course">
        <button id="btnRegister">Register</button>        
    </div>

    <div id="data">
        <div id="dataPrice">
            <h3>Price Course</h3>
            <p id="priceCourse"></p>
        </div>
        <div id="timeEndRegister">
            <h3>Time end Register</h3>
            <p id="endRegister"></p>
        </div>
        <div id="timeEndCourse">
            <h3>Time end Course</h3>
            <p id="endCourse"></p>
        </div>
    </div>

    <div id="btn">
        <button id="btnConnectMM">Connect metamask</button>
        <button id="btnGetPrice">Get Price Course</button>
        <button id="btnGetTimeRegister">Get Time Register</button>
        <button id="btnGetTimeCourse">Get Time End Course</button>
        <button id="btnGetInfoStudent">Get info</button>
    </div>
</body>
</html>