<html>
<head>
    <title>Javascript Login Form Validation</title>
    <!-- Include CSS File Here -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Include JS File Here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js"></script>
    <script src="scripts/sha2.js"></script>
</head>

<body>
    <div class="container">
        <div class="main">
            <h2>Javascript Login Form Validation</h2>
            <form id="form_id" method="post" name="myform">
                <label>Email:</label>
                <input type="text" name="email" id="email" />
                <label>Password :</label>
                <input type="password" name="password" id="password" />
                <input type="button" value="Login" id="submit" onclick="validate()" />
            </form>
            <span><b class="note">Note : </b>For this demo use following email and password. <br /><b
                    class="valid">Email : Formget<br />Password : formget#123</b></span>
        </div>
    </div>
</body>

</html>