<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:3000/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/course-create.css">
    <link rel="stylesheet" href="/styles/terms.css">
    <link rel="icon" href="/images/logo-hez.png" type="image/x-icon">
    <!-- <script src="/scripts/create.js" async=""></script> -->
    <title>Terms of Service | HOWA - Course Register</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/scripts/web3.js"></script>
    <script src="/process.js"></script>
    <script src="/scripts/create.js"></script>
</head>
<%- include("partials/header") %>

<body>
    <main class="category" style="min-height: max-content;">
        <div class="course-form" style="margin-top: 70px;">
            <div class="course-center">
                <h1 class="h1-title">Terms of Service</h1>
                <h2 class="h2-title">The HOWA Terms of Service</h2>
                <p class="content">Effective date: August 1, 2023.</p>
                <h2 class="h2-title">Acceptance of Terms</h2>
                <p class="content">By accessing and using the HOWA website, you agree to comply with and be bound by the following terms and conditions of use. 
                    If you do not agree with these terms, please refrain from using the website.</p>
                <h2 class="h2-title">Registration</h2>
                <p class="content">In order to access certain features and services on the HOWA website, you may be required to create an account. 
                    You are responsible for providing accurate and up-to-date information during the registration process. 
                    You must also maintain the confidentiality of your account login credentials and notify us immediately of any unauthorized use or security breaches.</p>
                <h2 class="h2-title">Use of Content</h2>
                <p class="content">The content provided on the HOWA website is for informational and educational purposes only. 
                    You may view, download, and print content from the website for personal, non-commercial use. 
                    However, you are strictly prohibited from modifying, distributing, transmitting, or reproducing any content without prior written permission from HOWA.</p>
                <h2 class="h2-title">Intellectual Property</h2>
                <p class="content">All intellectual property rights, including but not limited to copyrights, trademarks, 
                    and logos, associated with the HOWA website and its content, belong to HOWA or its licensors. 
                    You acknowledge and agree not to use, copy, or distribute any intellectual property without obtaining explicit permission.</p>
                <h2 class="h2-title">Third-Party Links</h2>
                <p class="content">The HOWA website may contain links to third-party websites or resources. 
                    These links are provided for your convenience, and HOWA does not endorse or take responsibility for the content, accuracy, 
                    or functionality of these external websites. You access and use such third-party websites at your own risk.</p>
                <h2 class="h2-title">Disclaimer of Warranty</h2>
                <p class="content">The HOWA website and its content are provided on an "as is" basis without any warranties or representations, express or implied. 
                    HOWA disclaims all warranties, including but not limited to accuracy, completeness, reliability, and fitness for a particular purpose. 
                    Your use of the website is at your own risk.</p>
                <h2 class="h2-title">Limitation of Liability</h2>
                <p class="content">HOWA and its affiliates, directors, employees, or agents shall not be liable for any direct, indirect, incidental, consequential, 
                    or punitive damages arising out of or in connection with your use of the HOWA website. 
                    This includes any loss of data, income, or profits, whether based on contract, tort, negligence, or any other legal theory.</p>  
                <h2 class="h2-title">Modifications and Termination</h2>
                <p class="content">HOWA reserves the right to modify, suspend, or terminate the website, its services, or these terms of use at any time without prior notice. 
                    You are responsible for regularly reviewing the terms of use to stay updated on any changes.</p>
                <h2 class="h2-title">Questions</h2>
                <p class="content">Questions about the Terms of Service? <a href="#contact" style="color: #2691d9;">Contact us</a>.</p>
                <br>
                <p class="content">By using the HOWA website, you agree to comply with all applicable laws and regulations and to respect the rights of others.</p>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>

</html>