@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0px;
  background: linear-gradient(120deg, #8ab2cd, #c676e9);
  height: auto;
}

.course-form{
  padding: 0% 25%;
}

.course-center {
  position: flex !important;
  top: 60%;
  left: 50%;
  padding-bottom: 15px;
  width: auto !important;
  margin-bottom: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.course-center h1 {
  text-align: center;
  padding: 10px 0;
  margin-top: 2px;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(120deg, #8ab2cd, #c676e9);
  border-image-slice: 1;
  width: 100%;
}

.course-center form {
  padding: 0px 70px;
  box-sizing: border-box;
}

form .text-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

form .text-field .date {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
  padding: 10%;
  padding-right: 10%;
}

.text-field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 14px;
  border: none;
  background: none;
  outline: none;
}

.text-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #0e0276;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
  transition: .5s;
}

.text-field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.text-field input:focus~label,
.text-field input:valid~label {
  top: -5px;
  color: #2691d9;
}

text-field[date] input:focus~label,
text-field[date] input:valid~label {
  color: #2691d9;
}

.text-field input:focus~span::before,
.text-field input:valid~span::before {
  width: 100%;
}

.text-field button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.text-field button:hover {
  background: #c676e9;
  transition: .5s;
}