@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0px;
  background: linear-gradient(120deg, #8ab2cd, #c676e9);
  height: auto;
}

.column {
  display: table-cell;
}

.course-image {
  position: relative;
}

.course-image img {
  width: 250px;
  position: inherit;
  border-radius: 15px 15px 0px 0px;
}

.show-list-courses {
  display: inline-flex !important;
  position: relative;
  flex-wrap: wrap;
  justify-content: left;
  gap: 73px;
  grid-row-gap: 30px;
  width: 100%;
  min-height: max-content;
  padding: 0px 150px;
}

.category-course-card {
  position: relative !important;
  display: inline-flex;
  width: 250px;
  height: auto;
  color: rgb(8, 27, 105);
  background-color: #ebebeb;
  margin-bottom: 50px;
  border-radius: 15px;
  margin: 2% 2%;
}

.course-short-details {
  padding: 5px 15px;
}

.price-course {
  margin: 5px 0px;
}

.price-course .new-price {
  color: rgb(249, 0, 0);
  font-weight: 600;
  font-size: 16px;
  margin-top: 8px;
}

.price-course .old-price {
  font-size: 12px;
  color: rgb(128, 128, 137);
  text-decoration: line-through;
}

.duration {
  color: darkgoldenrod;
  font-size: 12px;
  margin-bottom: 10px;
}

.cate-name {
  color: #dbb300;
  height: 17px;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  margin-top: 5px;
}

.card {
  margin: 0;
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 15px 50px;
  max-width: 33.33333333%;
  flex-grow: 0;
  height: auto;
  width: auto;
}

.btn-buy-now {
  width: 200px;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 15px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn-buy-now:hover {
  background: #c676e9;
  transition: .5s;
}

.btn-add-to-cart {
  width: 200px;
  height: 50px;
  border: 1px solid;
  background: #e7d90e;
  border-radius: 15px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn-add-to-cart:hover {
  background: #c676e9;
  transition: .5s;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border-radius: 15px;
}

li a {
  display: flex;
  position: relative;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #8741a7;
  color: white;
  border-radius: 15px;
}

#head-categories {
  background: none;
  padding: 0 10%;
}

#head-categories .cols,
#head-categories .woocommerce-variation {
  justify-content: left;
  max-width: none;
}

.cols,
.woocommerce-variation {
  flex-wrap: wrap;
}

.cols,
.woocommerce-variation {
  display: flex;
}

.container {
  width: fit-content;
  padding: 0 20px;
  margin: 0 auto;
}

#head-categories .cat {
  color: #ffffff;
  display: flex;
  padding: 20px 0;
  margin-right: 50px;
  justify-content: left;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 20px;
}

#head-categories .cat:last-child {
  margin-right: 0;
}

#head-categories .cat span {
  width: 100%;
  text-align: left;
}

#head-categories .cat.current {
  color: #7913ec;
  border-bottom: 3px solid #7913ec;
}

#head-categories .cat:hover {
  color: #7913ec;
  border-bottom: 3px solid #7913ec;
}

.col-2 {
  width: calc(16.6666666667% - 15px);
}

.col-2.no-gap {
  width: 16.6666666667%;
}

.col-10 {
  width: calc(83.3333333333% - 3px);
}

.col-10.no-gap {
  width: 83.3333333333%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.mg-10 {
  margin: 0 -10px;
}

* {
  box-sizing: border-box;
  outline: none;
}

.col-4:nth-child(4n+1) {
  clear: both;
}

.col-4 {
  width: 25%;
  float: left;
}

.pd-10 {
  padding: 0px 20px;
}