@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0px;
  background: linear-gradient(120deg, #8ab2cd, #c676e9);
  height: auto;
}

.card {
  margin: 0;
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 16px;
  max-width: 33.33333333%;
  flex-grow: 0;
  height: auto;
  width: auto;
}

form .text-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 50px 0;
}

.text-field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.text-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #0e0276;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.text-field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.text-field input:focus~label,
.text-field input:valid~label,
.text-field input:invalid~label {
  top: -5px;
  color: #0e0276;
}

.text-field input:focus~span::before,
.text-field input:valid~span::before,
.text-field input:invalid~span::before {
  width: 100%;
}

.forgot-pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.forgot-pass:hover {
  text-decoration: underline;
}

.text-field button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.text-field button:hover {
  background: #c676e9;
  transition: .5s;
}

.btn-save {
  width: 200px;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 15px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn-save:hover {
  background: #c676e9;
  transition: .5s;
}

.btn-cancel {
  width: 200px;
  height: 50px;
  border: none;
  background: #ccc;
  border-radius: 15px;
  font-size: 15px;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn-cancel:hover {
  background: #868686;
  transition: .5s;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgb(236, 236, 236);
}

label {
  margin-bottom: 10px;
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%
}
