@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0px;
  background: linear-gradient(120deg, #8ab2cd, #c676e9) !important;
  height: 100vh;
  overflow: hidden;
}

.login-center {
  height: max-content; 
  margin: auto;
  position: absolute;
  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.card h1 {
  text-align: center;
  padding: 0px 20px 20px 20px;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(120deg, #8ab2cd, #c676e9);
  border-image-slice: 1;
  width: 100%;
}

.card form {
  padding: 10px 10px;
  box-sizing: border-box;
}

form .text-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.text-field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.text-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #0e0276;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.text-field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.text-field input:focus~label,
.text-field input:valid~label,
.text-field input:invalid~label {
  top: -5px;
  color: #0e0276;
}

.text-field input:focus~span::before,
.text-field input:valid~span::before,
.text-field input:invalid~span::before {
  width: 100%;
}

.forgot-pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.forgot-pass:hover {
  text-decoration: underline;
}

.text-field button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.text-field button:hover {
  background: #c676e9;
  transition: .5s;
}

.sign-up-url {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.sign-up-url a {
  color: #2691d9;
  text-decoration: none;
}

.sign-up-url a:hover {
  text-decoration: underline;
}