@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0px;
  background: linear-gradient(120deg, #8ab2cd, #c676e9);
  height: auto;
}

.card {
  margin: 0;
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 16px;
  max-width: 33.33333333%;
  flex-grow: 0;
  height: auto;
  width: auto;
}

.detail-profile{
  padding: 0 5%;
}

.btn-edit {
  width: 40%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 15px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn-edit:hover {
  background: #c676e9;
  transition: .5s;
}

.btn-change-pass {
  width: 40%;
  height: 50px;
  border: 1px solid;
  background: #d8cb18;
  border-radius: 15px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn-change-pass:hover {
  background: #c676e9;
  transition: .5s;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgb(236, 236, 236);
}

label {
  margin-bottom: 10px;
  display: block;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
  border: 5px solid #6be04e; 
  width: 25%
}
