@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0px;
  background: linear-gradient(120deg, #8ab2cd, #c676e9);
  height: auto;
}

.card {
  padding: 40px 50px;
  margin: 0 auto;
  margin-bottom: 0px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 16px;
}

.btn2-connect-wallet {
  width: 200px;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 15px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn2-connect-wallet:hover {
  background: #c676e9;
  transition: .5s;
}

.btn2-remove-wallet {
  width: 200px;
  height: 50px;
  border: 1px solid;
  background: #e7d90e;
  border-radius: 15px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn2-remove-wallet:hover {
  background: #c676e9;
  transition: .5s;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%
}

.container {
  position: relative;
  max-width: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.creditcard-card:last-child {
  margin-bottom: 0;
  border: 0;
}

.creditcard-card {
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #efefef;
}

.creditcard-card__logo img {
  object-fit: contain;
  width: 67px;
  height: 40px;
  border: 1px solid #d6d6d6;
  border-radius: 10%;
}

.creditcard-card__type {
  font-size: 1rem;
  margin-right: 30px;
  margin-left: 30px;
  flex-shrink: 0;
  color: rgba(0,0,0,.8);
}

.bacc-default-badge {
  display: inline-block;
  background: #00bfa5;
  color: #fff;
  border-radius: 3px;
  padding: 3px 7px 2px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  width: auto;
  white-space: nowrap;
  margin-right: 12px;
}

.creditcard-card__spacer {
  flex: 1;
}

.GBIZS7 {
  font-size: .875rem;
  letter-spacing: 0;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding-top: .25rem;
}

.creditcard-card__actions {
  display: flex;
  width: 300px;
  justify-content: flex-end;
}

.bacc-secondary-action-btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-transform: capitalize;
  padding: 7px 0;
  box-sizing: border-box;
  color: #555;
  margin-right: 20px;
  text-decoration: underline;
  background: none;
  border: 0;
  outline: none;
}

.btn-light--disabled {
  background: #fff !important;
  color: #ccc;
  cursor: not-allowed;
}

.btn-light {
  outline: 0;
  background: #fff;
  color: #555;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
  position: relative;
  overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn-light--disabled {
  background: #fff !important;
  color: #ccc;
  cursor: not-allowed;
}
.btn-light {

  outline: 0;
  background: #fff;
  color: #555;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
  position: relative;
  overflow: visible;

}
.btn--s {

  height: 34px;
  padding: 0 15px;
  min-width: 60px;
  max-width: 190px;

}

.btn--inline {
  display: inline-flex;
}

.btn {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  flex-direction: column;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
  border-radius: 2px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  outline: 0;
  cursor: pointer;
}